[Unit]
Description=A Vultr App to be executed on system startup
After=network.target

[Service]
Type=simple
ExecStartPre=-source /root/app/env.sh
ExecStart=npm start --prefix /root/app
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
