[Unit]
Description=A Vultr App to be executed on system startup
After=network.target

[Service]
Type=simple
ExecStart=npm start --prefix /root/app
Restart=on-failure
RestartSec=5s
Environment=NODE_ENV=production

[Install]
WantedBy=default.target
